/* Footer.css */

.footer {
    background-color: #333333a3;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    opacity: 100px;
  }
  
  .contact-details {
    max-width: 800px;
    margin: 0 auto;
    animation: fadeInUp 1s ease;
  }
  
  .contact-details h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .detail {
    flex-basis: calc(33.33% - 20px);
    margin: 20px;
    padding: 20px;
    background-color: #4444449c;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .detail:hover {
    transform: translateY(-5px);
  }
  
  .icon {
    width: 50px;
    height: 50px;
    background-color: #007bff1a; /* Customize the icon background color */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff; /* Icon color */
  }
  
  .detail p {
    font-size: 16px;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Footer.css */

/* ... previous styles ... */

.icon-link {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #65dfef; /* Customize the icon background color */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff; /* Icon color */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .text-link {
    color: #eef1f4fe; /* Customize the text link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease;
  }
  
  
  /* Add hover effects for both icon and text links */
  .icon-link:hover,
  .text-link:hover {
    background-color: #555;
    color: #fff;
  }
  
  /* ... rest of the CSS ... */
  

 
  